dnspython==2.2.1
Werkzeug==2.2.2
PyMySQL==1.0.2
Flask==2.2.2
Flask-Login==0.6.2
Flask-WTF==1.0.1
python-dotenv==0.21.0
SQLAlchemy==1.4.46
pymongo==4.2.0
matplotlib==3.5.3
numpy==1.24.2
pandas==1.4.4

