<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PUZZLE Dashboard</title>


 

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <link href="{{ url_for('static', filename= 'css/styles.css') }}s" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#">Pintor</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Continente</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Estilo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pintura</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Fichas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Multimedia</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Preguntas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Respuestas</a>
				</li>
				<li class="nav-item">
					 <a class="nav-link" href="/"> <i class="fa fa-sign-out"></i> Logout</a>
				
					</div>
				</li>
			</ul>
		</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% block body %}
			{% endblock %}
		</div>
	</div>
	<div class="row">
		<br>
		<div class="col-md-12">
			<br>
			{% with messages = get_flashed_messages()  %}
			{% if messages %}
			{% for message in messages %}
			<!--div class="alert alert-success alert-dismissible fade show" role="alert"-->
			<br>

   			<div class="messagesalert alert-primary alert-dismissible fade show" role="alert">
  				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
  				</button>
			</div>
			<br><br>
			{% endfor %}
			{% endif %}
			{% endwith %}
		</div>
	</div>
</div>

    <script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script> 
    <script src="{{ url_for('static', filename= 'js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/scripts.js') }}"></script>
  </body>
</html>