{% extends "Base.html" %}
{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center text-light">
				Continentes Registrados
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center text-light">
						Listado y acciones
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Nombre
								</th>
							
								<th>
									Editar
								</th>
                                <th>
									Eliminar
								</th>
							</tr>
						</thead>
						<tbody>
                            {% for Continente in Continentes %}
                                <tr class="table-success">
								<td>
									{{Continente.0}}
								</td>
								<td>
									{{Continente.1}} 
								</td>
								
								<td>
									<a href="/editContinet/{{Continente.0}}" class="btn btn-warning btn-block"  type="submit"><i class="bi bi-hammer"></i></a>
								</td>
                                <td>
									<a href="/deleteContinet/{{Continente.0}}" class="btn btn-danger btn-block"  type="submit"><i class="bi bi-recycle"></i></a>
								</td>
							</tr>
                            {% endfor %}
							
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center text-light">
						Registro
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form role="form" form action="/addContinet" method="POST">
						<div class="form-group">
							 <!--label for="exampleInputEmail1" class="text-success">
								Nombre
							</label-->
							<input type="text" class="form-control" id="Nombre_continente" name="Nombre_continente" placeholder="Nombre de Continente">
						</div>

						<button type="Crear Continente" class="btn btn-primary">
							Crear Continente
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}